discovering/.classpath
discovering/.project
discovering/.settings
discovering/node/**
discovering/node_modules/**
discovering/target-grunt/**
discovering/target
.metadata/*
.metadata/
RemoteSystemsTempFiles/*
RemoteSystemsTempFiles/
