.form-control > hr {
	color: #8455C6;
	background-color: #8455C6;
	height: 4px;
	border: 0;
	width: 60%;
	margin: 10px auto;
}

.form-control > div.buttons > .btn {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline-block;
	border: 0;
	cursor: pointer;
}

.form-control > div.buttons > .btn > .fa {
	font-size: 28px;
	margin-right: 12px;
	vertical-align: middle;
}

.form-control > div.buttons > .btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.form-control > div.buttons > .blue {
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3C93D5;
}

.form-control > div.buttons > .blue:hover {
	background-color: #6FC6FF;
}

.form-control > div.buttons > .green {
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #15B358;
}

.form-control > div.buttons > .green:hover {
	background-color: #48E68B;
}

.form-control > div.buttons > .red {
	background-color: #e74c3c;
	box-shadow: 0px 5px 0px 0px #CE3323;
}

.form-control > div.buttons > .red:hover {
	background-color: #FF6656;
}

.form-control > div.buttons > .purple {
	background-color: #9b59b6;
	box-shadow: 0px 5px 0px 0px #82409D;
}

.form-control > div.buttons > .purple:hover {
	background-color: #B573D0;
}

.form-control > div.buttons > .orange {
	background-color: #e67e22;
	box-shadow: 0px 5px 0px 0px #CD6509;
}

.form-control > div.buttons > .orange:hover {
	background-color: #FF983C;
}

.form-control > div.buttons > .yellow {
	background-color: #f1c40f;
	box-shadow: 0px 5px 0px 0px #D8AB00;
}

.form-control > div.buttons > .yellow:hover {
	background-color: #FFDE29;
}

.form-control > div.buttons > .white {
	background-color: #FFF;
	color: #000;
	box-shadow: 0px 5px 0px 0px #CCC;
}

.form-control > div.buttons > .white:hover {
	background-color: #DDD;
}

.form-control > div.buttons > .google {
	background-color: #de4c34;
	box-shadow: 0px 5px 0px 0px #B33621;
}

.form-control > div.buttons > .google:hover {
	background-color: #ee5c44;
}

.form-control > div > label {
	display: block;
	margin-bottom: 3px;
}
/* INPUT CUSTOMIZATION*/

.input.center {
	margin: 1em auto;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	font-size: 15px;
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	/* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--juro {
	display: block;
	overflow: hidden;
}

.input__field--juro {
	position: absolute;
	z-index: 100;
	padding: 40px 15px 0;
	width: 100%;
	background: transparent;
	color: #8455C6;
	font-size: 15px;
}

.input__label--juro {
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: left;
}

.input__label-content--juro {
	padding: 2em 1em;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
	text-rendering: geometricPrecision;
}

.input__label--juro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
}

.input__field--juro:focus + .input__label--juro::before,
.input--filled .input__label--juro::before {
	border-width: 9px;
	border-color: #8455C6;
	border-top-width: 2em;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
	color: #fff;
	-webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}
/* INPUT CUSTOMIZATION*/